<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongoose Flights</title>
</head>
<body>
  <h1>Welcome to Mongoose Flights</h1>
  <h3>Your best choice for first class air travel.</h3>
  <p>Here at Mongoose Flights we can plan your 
    flight accommodations to and from any of these four major cities:</p>
    <ul>
      <li>Austin, Texas</li>
      <li>Dallas, Texas</li>
      <li>Los Angeles, California</li>
      <li>Seattle, Washington</li>
    </ul>
    <h4> So tell us, where would you like to go?</h4>
    <hr>
    <a href="/flights">See All Flights</a>
    <a href="/flights/new">Add New Flight</a>
  </p>
</body>
</html>