<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Journal</title>
</head>
<body>
  <h1>Flights Scheduled</h1>
  <% flights.forEach(function(flight){ %>
    <p><%= flight.airline %> | <%= flight.flightNo %> | <%= flight.departs %></p>
  <% }) %>
</body>
</html>