<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Flight</title>
</head>
<body>
  <% include ../partials/header %>
  <h3>Add new flight information below:</h3>
  <form action="/flights" method="POST" autocomplete="off">
    <label>Airline
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label>

    <label>Flight No.:
      <input type="number" min="10" max="9999" name="flightNo">
    </label>

    <label>Departure Airport
      <select name="airportDep">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA" selected>SEA</option>
      </select>
    </label>
    
    <label>Departure Date/Time
      <input type="datetime-local" name="departs">
    </label>

    <input type="submit" value="Add Flight">
  </form>
  
</body>
</html>