<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Details</title>
</head>
<body>
  <% include ../partials/header %>
  
    <div>Airline: <%= flight.airline %></div>
    <div>Flight No: <%= flight.flightNo %></div>
    <div>Flight Date/Time: <%= flight.departs %></div>
    <div>Departing Airport: <%= flight.airport %></div>


</body>
</html>



